<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ubicación</title>
</head>
<body>
<h1>Hola</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12574.8077434716!2d-1.1474258!3d38.0074123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63819baae4321b%3A0x7a6261663713684!2sCesur%20Murcia%20Audiovisual%20-%20Formaci%C3%B3n%20Profesional!5e0!3m2!1ses!2ses!4v1698671462019!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<li><a href="/">Ir a index</a></li>
</body>
</html>