<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${pelicula.titulo}"></h1>
    <p th:text="${pelicula.sinopsis}"></p>
    <p th:text="${pelicula.nacionalidad} + ' - ' + ${pelicula.fecha}"></p>
    <img th:src="'/img/' + ${pelicula.imagen}">
    <iframe width="560" height="315" th:src="${pelicula.trailer}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div th:each="comentario:${comentarios}">
        <h3 th:text="${comentario.titulo}"></h3>
        <p th:text="${comentario.fecha}"></p>
        <p th:text="${comentario.contenido}"></p>
    </div>
</body>
</html>