<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/crud/save" method="post" enctype="multipart/form-data" th:object="${formPelicula}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label for="titulo">Título</label> <input type="text" class="form-control"
                                                                                  name="titulo" id="titulo" th:field="*{id}" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label for="sinopsis">Sinopsis</label> <textarea class="form-control"
                                                                                         name="sinopsis" id="sinopsis" th:field="*{sinopsis}"
                                                                                         rows="3" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label for="fecha">Fecha</label> <input type="date" class="form-control"
                                                                                name="fecha" id="fecha" th:field="*{fecha}" required></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label for="imagen">Imagen</label> <input type="text" class="form-control"
                                                                                  name="imagen" id="imagen" th:field="*{imagen}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label for="trailer">Trailer</label> <input type="url" class="form-control"
                                                                                    name="trailer" id="trailer" th:field="*{trailer}"
                                                                                    required></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label for="nacionalidad">Nacionalidad</label> <select class="form-control"
                                                                                               name="nacionalidad"
                                                                                               id="nacionalidad" th:field="*{nacionalidad}"
                                                                                               required>
                    <option value="">Seleccione una nacionalidad</option>
                    <option value="España">España</option>
                    <option value="EE. UU.">Estados Unidos</option>
                    <option value="Reino Unido">Reino Unido</option>
                    <option value="Francia">Francia</option>
                    <option value="Italia">Italia</option>
                    <option value="Japón">Japón</option>
                </select></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>