<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>El Peliculón</title>
    <div th:insert="components/fragments :: head"></div>
</head>
<body>
    <div th:insert="components/fragments :: nav_bar"></div>
    <h1>El peliculón by Cesur</h1>
    <div th:each="pelicula:${cartelera}">
        <div class="card" style="width: 18rem;">
            <img th:src="${pelicula.imagen}" class="card-img-top" th:alt="'cartel de la pelicula: ' + ${pelicula.titulo}">
            <div class="card-body">
                <h2 class="card-title" th:text="${pelicula.titulo}"></h2>
                <p class="card-text" th:text="${#strings.substring(pelicula.sinopsis,0,15)}"></p>
                <a th:href=" '/pelicula/' + ${pelicula.id}" class="btn btn-primary">Ver más</a>
            </div>
        </div>
<!--        <a th:href=" '/pelicula/' + ${pelicula.id}">-->
<!--            <h2 th:text="${pelicula.titulo}"></h2>-->
<!--            <img th:src="${pelicula.imagen}">-->
<!--        </a>-->

    </div>

    <div th:insert="components/fragments :: footer"></div>
</body>
</html>