<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="components/fragments :: head"></div>
</head>
<body>
<div th:insert="components/fragments :: nav_bar"></div>
<div class="container">
    <a href="/collection/add" class="btn btn-primary">Add card</a>
    <table class="table stripped">
        <tr>
            <th>Cardname</th>
            <th>Types</th>
            <th>Effect</th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="c:${cards}">
            <td th:text="${c.card.cardname}"></td>
            <td th:text="${c.card.cardTypes}"></td>
            <td th:text="${c.card.effect}"></td>
            <td th:text="${c.quantity}"></td>
            <td>
                <a th:href="'/collection/update/' + ${c.id}" class="btn btn-primary">Update</a>
            </td>
            <td>
                <a th:href="'/collection/delete/' + ${c.id}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div th:insert="components/fragments :: footer"></div>
</body>
</html>