<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="components/fragments :: head"></div>
</head>
<body>
<form th:action="${formUserCards.id != 0} ? @{/collection/modify} : @{/collection/save}"
      method="post" th:object="${formUserCards}">
    <div class="container">
        <div class="row">
            <input type="hidden" class="form-control" th:field="*{id}">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" th:field="*{quantity}" value="Munich" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="card">Card</label>
                    <select class="form-select" name="card" id="card" required>
                        <option th:each="c:${cards}" th:value="${c.id}" th:text="${c.cardname}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
<p><a href="/collection" class="btn btn-primary">Back to listing</a></p>
</body>
</html>